html, body{
  max-width: 80%;
  margin: auto;
}

.btnGroup{
  margin: 10px 0px;
  text-align: center;
  button{
    margin: 10px;
  }
}

table {
  width: 100%;
}

.no-student{
  text-align: center;
}

.table{
  padding: 20px;
}

.profile-pic{
  width: 55px;
  height: 55px;
  border-radius: 15px;
  margin-top: 5px;
  overflow: hidden;
}