.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.example-full-width {
  width: 100%;
}

.mt-5{
  margin-top: 20px;
}

.progress-bar{
  position: absolute;
  top: 0;
  left: 0;
}