form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-left{
  margin: 20px 30px 0px 10px;
}

.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.input-fields{
  width: 100%;
}