<h2 mat-dialog-title>Edit Student Data</h2>
<div mat-dialog-content class="mat-typography">
  <form [formGroup]="formData">
    <div class="img-left">
      <img
        class="profile-pic"
        mat-card-image
        [src]="data.student.profile"
        [alt]="data.student.name"
      />
    </div>
    <div class="img-right">
      <mat-form-field class="input-fields" appearance="fill">
        <mat-label>Name</mat-label>
        <input appLengthvalidator matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="input-fields" appearance="fill">
        <mat-label>Phone</mat-label>
        <input appLengthvalidator matInput formControlName="phone" />
      </mat-form-field>
      <mat-form-field class="input-fields" appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input appLengthvalidator matInput type="date" formControlName="dob" />
      </mat-form-field>
      <mat-form-field class="input-fields" appearance="fill">
        <mat-label>Grade</mat-label>
        <input appLengthvalidator matInput formControlName="grade" />
      </mat-form-field>
      <mat-form-field class="input-fields" appearance="fill">
        <mat-label>Address</mat-label>
        <input appLengthvalidator matInput formControlName="address" />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>
