<h1>{{ appName }}</h1>
<h2>Event Binding</h2>
<button (click)="showData($event)">Click here</button>
<button on-click="showData($event)">Click here</button>
<input type="text" [value]="userName" />
<td [attr.colspan]="columnSpan">...</td>
<p [class]="myClasses">Red Text</p>
<input type="text" [(ngModel)]="userName" />
<p>Two way binding! Hello {{ userName }}!</p>

<div class="container pb-5">
  <h1>Search Phone</h1>
  <input
    class="mb-4 mr-2"
    type="text"
    [(ngModel)]="searchPhone"
    placeholder="Enter Phone Name"
  />
  <table class="table table-dark table-bordered text-center">
    <tr>
      <th>#</th>
      <th>Phones Name</th>
      <th>Phones Price</th>
    </tr>
    <ng-container *ngIf="!searchPhone; else phoneSearchBlock">
      <tr *ngFor="let phone of phones; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ phone.name }}</td>
        <td>{{ phone.price }}</td>
      </tr>
    </ng-container>
    <ng-template #phoneSearchBlock>
      <tr *ngFor="let phone of searchedPhones(); let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ phone.name }}</td>
        <td>{{ phone.price }}</td>
      </tr>
    </ng-template>
  </table>
</div>
